{{ partial "head.html" . }}
<body>
    {{ partial "navbar.html" . }}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 header"> 
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <h1>VektorCloud</h1>
              <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis augue nibh, sit amet dapibus massa aliquet sit amet. Aliquam erat volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum neque risus, commodo non risus at, egestas posuere ligula. Ut nisl dui, cursus eget vehicula nec, congue vel metus. Phasellus ut rutrum justo. Aenean eu elit suscipit, vestibulum nisi at, faucibus purus. Fusce ut venenatis nisl.
              </p>
              <a class="btn btn-primary btn-lg" href="/stack">Browse Stacks</a>
              <a class="btn btn-default btn-lg" href="/image">Browse Images</a>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 containers"> 
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <h1>Ultra-lightweight High Performance Containers</h1>
              <p>
              Praesent facilisis justo eu convallis facilisis. Mauris quis risus dui. Aliquam pretium, arcu varius sagittis placerat, elit justo euismod eros, a lacinia eros lacus a turpis. Proin posuere pulvinar enim, vel semper turpis. Nunc pellentesque neque velit. Fusce nulla neque, tempor ut eros ultrices, maximus viverra felis. Curabitur est lectus, porta quis neque nec, vulputate sodales sem. In mattis dolor nec porta venenatis. Vivamus ac rhoncus ante. Nunc luctus nibh urna, ac bibendum nibh malesuada vitae. Praesent cursus non justo ac sollicitudin.
              </p>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 stacks"> 
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <h1>Compositable Production Grade Infrastructure</h1>
              <p>
              In hac habitasse platea dictumst. Donec vel elit vel ipsum rhoncus suscipit nec a felis. Mauris at pretium enim. Vivamus feugiat diam ut finibus varius. Praesent porttitor commodo quam ac efficitur. Nunc ac ante at diam maximus lobortis ac in justo. Donec at leo sed felis luctus consectetur pretium nec elit. Suspendisse porta metus non magna venenatis ornare. In varius nec turpis sed vestibulum. Donec hendrerit, leo ut facilisis condimentum, felis dolor iaculis sem, at tincidunt metus diam eu magna. Donec condimentum nibh non sapien pharetra consectetur. Morbi lorem sapien, suscipit ac cursus at, consectetur id turpis. Quisque viverra leo lectus, ac efficitur quam auctor eu. Sed nec magna auctor mauris laoreet gravida. Duis aliquam faucibus nunc, a faucibus justo finibus eget.
              </p>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </div>
    </div>
    {{ partial "footer.html" .  }}
	{{ partial "script.html" .  }}
</body>
</html>
